<!DOCTYPE html>
<html>

<head>
	<title>Sporting goods catalog</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>

<body>

	<div id="header">
		<h1>Sporting goods, category: {{ category.name }}</h1>

		<div class="flash">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li><strong>{{message}}</strong></li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		</div>

		{% if login_session.username %}
			<p><a href="{{ url_for('login') }}">logged in as: {{ login_session.username }}</a></p>
			<p><a href="{{ url_for('logout') }}">logout</a></p>
		{% else %}
			<p><a href="{{ url_for('login') }}">login to edit</a></p>
		{% endif %}

		<div class="clear"></div>
	</div>

	<div id="content">
		<div id="sidebar">
			<h2>Categories</h2>
			<ul>
				{% for cat in categories %}
					<li>
					<a href="{{ url_for('category_main', category_id=cat.id) }}">{{ cat.name }}{% if category.id == cat.id %}*{% endif %}</a>
					</li>
				{% else %}
					<li>
					No entries yet.
					</li>
				{% endfor %}
			</ul>
		</div>

		<div id="main-content">
			<h2>
			Items in {{ category.name }}
			{% if login_session.user_id %}
			<a href="{{ url_for('item_add') }}">(Add one.)</a>
			{% endif %}
			</h2>
			<ul>
				{% for item in items %}
					<li>
					<a href="{{ url_for('item_main', item_id=item.id) }}">{{ item.name }}</a>
				{% if item.user_id == login_session.user_id %}
					<a href="{{ url_for('item_edit', item_id=item.id) }}">(Edit it.)</a>
					<a href="{{ url_for('item_delete', item_id=item.id) }}">(Delete it.)</a>
				{% endif %}
					</li>
				{% else %}
					<li>
					No entries yet.
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="clear"></div>
	</div>

</body>

</html>