<!DOCTYPE html>
<html>
	<head>
		<title>Sporting goods catalog</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="header">
			<h1>Sporting goods, add item</h1>
			<div class="flash">
				{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
						{% for message in messages %}
							<li><strong>{{message}}</strong></li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>
		{% if login_session.username %}
			<p><a href="{{ url_for('login') }}">logged in as: {{ login_session.username }}</a></p>
			<p><a href="{{ url_for('logout') }}">logout</a></p>
		{% else %}
			<p><a href="{{ url_for('login') }}">login to edit</a></p>
		{% endif %}
		<div class="clear"></div>
	</div>
	<div id="content">
		<form action="{{ url_for('item_add') }}" method = 'POST'>
			<p>Name:</p>
			<input type='text' size='100' name='name'>
			<p>Category:</p>
			<select name="category" multiple="multiple" size=10>
				{% for cat in categories %}
					<option>{{ cat.name }}</option>
				{% endfor %}
			</select>
			<p>Description:</p>
			<input type='text' size='100' name='description'>
			<input type='submit' value='Create'>
		</form>
	</div>
</body>
</html>