<!DOCTYPE html>
<html>

<head>
	<title>Sporting goods catalog</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Mono" />

	<!--Google sign-in prerequisites-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
	<!--End google sign-in prereqs-->
</head>

<body>

	<div id="header">
		<h1>Sporting goods catalog, login page</h1>

		<div class="flash">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li><strong>{{message}}</strong></li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		</div>

		{% if login_session.username %}
		<p><a href="{{ url_for('login') }}">logged in as: {{ login_session.username }}</a></p>
		{% endif %}
	</div>

	<div id="content">
		<!--Google sign in-->
		<div id="signinButton">
			<span class="g-signin"
				data-scope="openid email"
				data-clientid="234301963755-55g2sfivpft1s1vb0242pqk77384e93s.apps.googleusercontent.com"
				data-redirecturi="postmessage"
				data-accesstype="offline"
				data-cookiepolicy="single_host_origin"
				data-callback="signInCallback"
				data-approvalprompt="force">
			</span>
		</div>
		<div id="result"></div>

		<script>
		function signInCallback(authResult) {
			if (authResult['code']) {
				// Hide the sign-in button now that the user is authorized
				$('#signinButton').attr('style', 'display: none');
				// Send the one-time auth code to the server,
				// if the server responds, write a 'login successful' message
				// to the web page and redirect back to the main restaurants
				// page
				$.ajax( {
					type: 'POST',
					url: '/gconnect/?state={{state}}',
					processData: false,
					contentType: 'application/octet-stream; charset=utf-8',
					data: authResult['code'],
					success: function(result) {
						if (result) {
							$('#result').html(result + '</br>Redirecting...')
							setTimeout(function() {
								window.location.href = "{{ url_for('catalog_main') }}";
							}, 4000);
						} else if (authResult['error']) {
							console.log('There was an error: ' + authResult['error']);
						} else {
							$('#result').html('Failed to make a server call. Check your configuration and console.');
						}
					}
				})
			}
		}
		</script>
		<!--End Google sign-in-->

		<!--TODO: Facebook sign in-->
		<!--End Facebook sign-in-->

	</div>

</body>

</html>